{% extends getPartial('page-design') %}

{% block PartialHead %}
    <title>{{ category.details[0].metaTitle }} | {{ ceresConfig.header.companyName }}</title>

    <meta name="description" content="{{ category.details[0].metaDescription }}">
    <meta name="keywords" content="{{ category.details[0].metaKeywords }}">

    <meta name="robots" content="{{ metaRobots }}">
{% endblock %}

{% block PageBody %}
  <div class="container-max page-content">
      <div class="row">
          <div class="col-12 mb-3">
            
            {% set shopBuilderTemplate = shop_builder_category_template(category.id) %}
            {% if shopBuilderTemplate | trim is not empty %}
                <div class="container-max">
                    <div class="row">
                        <div class="col">
                            {{ shopBuilderTemplate | raw }}
                        </div>
                    </div>
                </div>
            {% else %}
                {% include category_template( category.id, lang, webstoreConfig.webstoreId ) ignore missing %}
            {% endif %}
          </div>
      </div>
  </div>
{% endblock %}
