{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{{ component( "Ceres::Customer.Components.UserLoginHandler" ) }}
{{ component( "Ceres::PageDesign.Components.ShippingCountrySelect" ) }}
{{ component( "Ceres::PageDesign.Components.MobileNavigation" ) }}
{{ component( "K8theme::ItemList.Components.ItemSearch" ) }}
{{ component( "Ceres::WishList.Components.WishListCount" ) }}
{{ component( "Ceres::Basket.Components.BasketPreviewHover" ) }}


{% set enabledRoutes = config("IO.routing.enabled_routes") | split(', ') %}



{% set headerContainer = LayoutContainer.show("K8theme::Header") | trim %}
{% if headerContainer is empty %}
    {% include "K8theme::PageDesign.Partials.Header.DefaultHeader" %}
{% else %}
<header id="page-header" class="fixed-top">
    {{ headerContainer | raw }}
</header>
{% endif %}

{% set scriptId = uid() %}
<script id="{{ scriptId }}">
    var vueApp = document.getElementById("vue-app");
    var pageHeader = document.getElementById("page-header");

    if ( !!vueApp && !!pageHeader )
    {
        vueApp.style.marginTop = pageHeader.getBoundingClientRect().height + 'px';
    }

    var scriptElement = document.getElementById("{{ scriptId }}");
    scriptElement.parentElement.removeChild(scriptElement);
</script>

<div>
    {% if category.linklist == "Y" %}
        {% set initialCategory = { id: category.id } %}
    {% else %}
        {% set initialCategory = category %}
    {% endif %}
    <mobile-navigation
            navigation-tree-data="{{ categories | json_data }}"
            :initial-category="{{ initialCategory | json_encode }}"
            template="#vue-mobile-navigation">
    </mobile-navigation>
</div>
